<div class="text-center" style="padding-top : 150px">
  <div class="form-signin row justify-content-center">
    <form
      class="rounder"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmitForm()"
      style="background-color: ghostwhite;margin-bottom: 150px;"
    >
      <img
        class="mb-4"
        src="../assets/logo.png"
        alt=""
        width="80"
        height="80"
        class="text-center"
      />
      <h1 class="h3 mb-3 fw-normal text-center">Inscription</h1>
      <input
        formControlName="username"
        type="text"
        id="inputUsername"
        class="form-control"
        placeholder="Pseudo"
        required=""
        autofocus=""
      />
      <input
        formControlName="firstName"
        type="text"
        id="inputFirstName"
        class="form-control"
        placeholder="Prenom"
        required=""
        autofocus=""
      />
      <input
        formControlName="lastName"
        type="text"
        id="inputLastName"
        class="form-control"
        placeholder="Nom de famille"
        required=""
        autofocus=""
      />
      <br />
      <input
        formControlName="email"
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Adresse mail"
        required=""
        autofocus=""
      />
      <br />
      <input
        formControlName="age"
        type=""
        id="ageInput"
        class="form-control"
        placeholder="Age"
        required=""
      />
      <input
        formControlName="weigth"
        type="text"
        id="inputWeigth"
        class="form-control"
        placeholder="Poid"
        required=""
        autofocus=""
      />
      <input
        formControlName="heigth"
        type="text"
        id="inputHeigth"
        class="form-control"
        placeholder="Taille"
        required=""
        autofocus=""
      />
      <br />
      <input
        formControlName="password"
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Mot de passe"
        required=""
        style="margin-top: 5px"
      />
      <input
        formControlName="confirmPassword"
        type="password"
        id="confirmPassword"
        class="form-control"
        placeholder="Confirmer le mot de passe"
        required=""
        style="margin-top: 5px"
      />
      <br />
      <button
        class="w-100 btn btn-lg btn-warning"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        S'inscrire
      </button>
      <br />
      <br />
      <div class="dropdown-divider black" style="color: black"></div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="dropdownCheck2" />
        <label
          class="form-check-label"
          for="dropdownCheck2"
          style="padding-left: 5px"
          >Se souvenir de moi</label
        >
      </div>
      <a class="text-center" href="">Déja un compte? Connectez vous ici</a>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
  </div>
</div>
