<div class="forum-page container mx-auto shadow">
    <div *ngFor="let category of categories; let i = index">
        <span>{{ category?.name }}</span>
        <div class="subcategory-list">
            <div *ngFor="let subcategory of subcategories[i]">
                <a [routerLink]="['/forum', subcategory?.id]">{{ subcategory?.name }}</a>
                <div class="subcategory-info">
                    {{ subcategory?.description }}
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let thread of threads" class="thread-element">
        <thread-link [threadId]="thread?.id"></thread-link>
    </div>
    <div *ngIf="currentCategoryId != 0" class="thread-creation-area">
        <button class="btn btn-primary" [hidden]="isThreadFormVisible" (click)="toggleThreadForm()">Nouveau sujet</button>
        <div [hidden]="!isThreadFormVisible">
            <button class="btn btn-primary" (click)="toggleThreadForm()">Annuler</button>
            <thread-creation-form></thread-creation-form>
        </div>
    </div>
</div>