<div class="thread container p-4 shadow">
    <div class="thread-title-box">
        <h2 class="threadTitle p-3 my-2">
            {{ threadTitle }}
        </h2>
    </div>
    <div class="threadContent" >
        <div *ngFor="let post of posts; let isFirst = first" id="post-{{ post?.id }}" >
            <f-post [postId]="post?.id" [isFirstPost]="isFirst && page == 1 ? true : false"></f-post>
        </div>
    </div>
    <div>
        <a [routerLink]="['./']" fragment="reply-form" [hidden]="isReplyActive">
            <button class="btn btn-primary" (click)="toggleReplyForm()">Répondre</button>
        </a>
    </div>
    <div [hidden]="!isReplyActive">
        <button class="btn btn-primary" (click)="toggleReplyForm()">Annuler</button>
        <post-form [threadID]="id" id="reply-form"></post-form>
    </div>
</div>