<div class="container-fluid section-color1 padding-top padding-bottom-25">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-4 text-center">
      <img
        [src]="user.profilePicturePath"
        alt="100*100"
        class="profile-pic rounded-circle z-depth-2"
        data-holder-rendered="true"
      />
      <h1 *ngIf="!profileModification">{{ user.name }}</h1>
      <div class="text-center padder">
        <input *ngIf="profileModification" [(ngModel)]="user.name" />
      </div>

      <button
        *ngIf="!profileModification"
        class="btn btn-outline-danger"
        (click)="enableProfileModif()"
      >
        Modifier le profil
      </button>
      <button
        *ngIf="profileModification"
        class="btn btn-success"
        (click)="saveModification()"
      >
        Enregistrer les mofifications
      </button>
    </div>
    <div *ngIf="!profileModification" class="col-md-12 col-lg-4" style="color: rgb(0, 0, 0)">
      {{ user.description }}  
    </div>
    <textarea *ngIf="profileModification" [(ngModel)]="user.description" ></textarea>
  </div>
</div>
<div class="container-fluid section-color2 padding-top padding-bottom-25">
  <div class="row justify-content-around">
    <div class="col-2" style="color: rgb(0, 0, 0)">
      <h2>Information personnelle:</h2>
      <ul>
        <p>
          <li *ngIf="!profileModification">{{ "Age: " + user.age + " ans" }}</li>
          <li *ngIf="profileModification"> Age: <input type="number" min="18" max="100" [(ngModel)]="user.age"> </li>
          <li *ngIf="!profileModification">{{ "Sport: " + user.sport }}</li>
          <li *ngIf="profileModification"> Sport:  <input type="text"  [(ngModel)]="user.sport"> </li>
          <li *ngIf="!profileModification">{{ "Citation: " + user.citation }}</li>
          <li *ngIf="profileModification"> Citation: <input type="text"  [(ngModel)]="user.citation"> </li>
          <li *ngIf="!profileModification">{{ "Poid: " + user.weigth + "kg" }}</li>
          <li *ngIf="profileModification"> Poid: <input type="number" min="30" max="400" [(ngModel)]="user.weigth"> </li>
        </p>
      </ul>
    </div>
    <div class="col-4" style="color: rgb(0, 0, 0)">
      <app-piechart></app-piechart>
    </div>
  </div>
</div>
