.profile-pic {
  border-color: black;
  background-color: #fbfbfb;
  object-fit: cover;
  object-position: center center;
  width: 250px;
  height: 250px;
  box-shadow: 3px 3px;
}

.padding-bottom-25 {
  padding-bottom: 25px;
}
.padding-top {
  padding-top: 115px;
}
.padding-bottom {
  padding-bottom: 115px;
}

.section-color2 {
  background-color: #dbd8d2;
}
.section-color1 {
  background-color: rgb(207, 205, 200);
}

.padder {
  padding-top: 15px;
  padding-bottom: 15px;
}

#infos {
  padding-top: 130px;
}

textarea {
  height: 320px;
  width: 35%;
  resize: none;
  max-lines: 1;
}

.imc {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 3px;
}

.obesite{
  background-color: orangered;
}

.surpoid{
  background-color: rgb(243, 159, 3);
}