<div class="container-fluid section-color1 padding-top padding-bottom-25">
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-4 text-center">

      <img
        *ngIf="!profileModification"
        [src]="user?.imageUrl"
        alt="100*100"
        class="profile-pic rounded-circle z-depth-2"
        data-holder-rendered="true"
      />
      <div *ngIf="profileModification">
        URL de votre photo de profil:
        <input type="text" [(ngModel)]="user.imageUrl" />
      </div>
      <h1 *ngIf="!profileModification">{{ user?.userName }}</h1>
      <h4 *ngIf="!profileModification">Abonnés: {{ followersCount }}</h4>
      <div class="text-center padder" *ngIf="profileModification">
        Votre pseudo:
        <input
          *ngIf="profileModification && !isFollowing"
          [(ngModel)]="user.userName"
        />
        <small class="text-danger text-center" *ngIf="profileModification">
          {{ user.userName.length }} / {{ usernameMaxLength }}</small
        >
      </div>
      <button
        *ngIf="isYours && !isFollowing"
        class="btn btn-outline-success"
        (click)="addFriend()"
      >
        Suivre
      </button>
      <button
        *ngIf="isYours && isFollowing"
        class="btn btn-outline-danger"
        (click)="unfriend()"
      >
        Se désabonner
      </button>
      <button
        *ngIf="!profileModification && !isYours"
        class="btn btn-outline-danger"
        (click)="enableProfileModif()"
      >
        Modifier le profil
      </button>
      <button
        *ngIf="profileModification"
        class="btn btn-success"
        (click)="saveModification()"
        [disabled]="
          !(
            user.userName.length <= usernameMaxLength &&
            user.description.length <= descriptionMaxLength
            && user.age >= 18 && user.weight > 20 && user.height > 70
          )
        "
        [enabled]="
          user.userName.length <= usernameMaxLength &&
          user.description.length <= descriptionMaxLength
          && user.age >= 18 && user.weight > 20 && user.height > 70
        "
      >
        Enregistrer les mofifications
      </button>
    </div>
    <div
      *ngIf="!profileModification"
      class="col-md-12 col-lg-4"
      style="color: rgb(0, 0, 0)"
    >
      {{ user?.description }}
    </div>
    <textarea
      *ngIf="profileModification"
      [(ngModel)]="user.description"
    ></textarea>
    <small class="text-danger text-center" *ngIf="profileModification">
      {{ user.description.length }} / {{ descriptionMaxLength }}</small
    >
  </div>
</div>
<h2
  *ngIf="!((isFollowing && isYours) || !isYours)"
  class="text-center text-warning padding-top"
>
  Vous devez suivre cet utilisateur si vous voulez accéder à ces informations.
</h2>
<div
  class="container-fluid section-color2 padding-bottom-25"
  *ngIf="(isFollowing && isYours) || !isYours"
>
  <div class="row justify-content-around" id="infos">
    <div class="col-2" style="color: rgb(0, 0, 0)">
      <h2>Information personnelle:</h2>
      <ul>
        <p>
          <li *ngIf="!profileModification">
            {{ "Age: " + user?.age + " ans" }}
          </li>
          <li *ngIf="profileModification">
            Age:
            <input type="number" min="18" max="100" [(ngModel)]="user.age" />
          </li>
          <li *ngIf="!profileModification">{{ "Sport: " + user?.sport }}</li>
          <li *ngIf="profileModification">
            Sport: <input type="text" [(ngModel)]="user.sport" />
          </li>
          <li *ngIf="!profileModification">
            {{ "Poids: " + user?.weight + "kg" }}
          </li>
          <li *ngIf="profileModification">
            Poids:
            <input type="number" min="30" max="400" [(ngModel)]="user.weight" />
          </li>
          <li *ngIf="!profileModification">
            {{ "Taille: " + user?.height + "cm" }}
          </li>
          <li *ngIf="profileModification">
            Taille:
            <input
              type="number"
              min="100"
              max="250"
              [(ngModel)]="user.height"
            />
          </li>
        </p>
      </ul>
    </div>

    <div class="col-3 justify-content-center" style="color: rgb(0, 0, 0)">
      <h2>Information(s) complémentaire(s):</h2>
      <ul>
        <li>
          Votre IMC (Indice de Masse Corporelle) est de:
          <span class="imc" [ngStyle]="{ color: styleExp }">{{
            imc | number: "1.0-2"
          }}</span>
        </li>
      </ul>
      <div class="progress">
        <div
          class="progress-bar bg-info"
          role="progressbar"
          style="width: 15%"
          aria-valuenow="15"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Maigreur
        </div>
        <div
          class="progress-bar bg-success"
          role="progressbar"
          style="width: 25%"
          aria-valuenow="30"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Normal
        </div>
        <div
          class="progress-bar surpoid"
          role="progressbar"
          style="width: 20%"
          aria-valuenow="20"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Surpoids
        </div>
        <div
          class="progress-bar obesite"
          role="progressbar"
          style="width: 20%"
          aria-valuenow="20"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Obésité
        </div>
        <div
          class="progress-bar bg-danger"
          role="progressbar"
          style="width: 20%"
          aria-valuenow="20"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          Danger
        </div>
      </div>
    </div>

    <div
      class="col-3 justify-content-around"
      style="color: rgb(0, 0, 0); padding-bottom: 20px"
    >
      <h2>Nutriments et activité sportive:</h2>
      <br />
      <app-nutriments [user]="user"></app-nutriments>
    </div>
  </div>
  <div
    class="
      container-fluid
      section-color1
      padding-top padding-bottom
      text-center
    "
  >
    <h2 *ngIf="!isFollowing && isYours">
      Vous devez suivre cet utilisateur pour voir son fil d'actualité.
    </h2>
    <h2 *ngIf="isFollowing && isYours && posts.length == 0">
      Cet utilisateur n'a pas encore posté.
    </h2>
    <h2 *ngIf="!isYours && posts?.length == 0">
      Vous n'avez encore rien posté.
    </h2>
    <div *ngIf="isFollowing">
      <div *ngFor="let post of posts">
        <app-statut [userPost]="post"></app-statut>
      </div>
    </div>
  </div>
</div>
