<div class="thread">
    <div class="row">
        <div class="col">
            <a href="#">Titre du thread</a>
            <div class="thread-info">
                <span>
                    Par <a class="profile-link">Utilisateur</a> date placeholder
                </span>
            </div>
        </div>
        <div class="col">
            <div class="thread-info">
                <a class="last-message-link">Dernier message</a><br>
                <span>
                    par <a class="profile-link">Utilisateur</a>
                </span><br>
                <span>date placeholder</span>
            </div>
        </div>
    </div>
</div>