<div class="post card mb-2 shadow-sm">
    <div class="card-body">
        <span>
            <a [routerLink]="['/profile', user?.id]" class="userName">{{ user?.userName }}</a>
            <span class="postDate text-muted"> {{ post?.date | date:'le dd/MM/YYYY à HH:mm:ss':'UTC+2' }} </span>
            <span class="post-options">
                <delete-button *ngIf="currentUserRole?.moderationPower >= 50 || currentUser?.id == user?.id" [postId]="id"></delete-button>
            </span>
        </span>
        <p class="postContent">
            {{ post?.content }}
        </p>
    </div>
</div>
