<div class="text-left" style="padding-top: 150px">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Selectionner une partie du corps
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a
        *ngFor="let category of categories"
        class="dropdown-item"
        (click)="getExercise(category.id)"
        >{{ category.name }}</a
      >
    </div>
  </div>
  <div class="exercices" *ngIf="exercices">
    <div class="row">
      <div *ngFor="let exercice of exercices">
        <div class="col-4">
          <div class="card" style="margin-bottom: 25px; width: 18rem">
            <p>
              {{ exercice.videoUrl }}
            </p>
            <div class="card-body">
              <h5 class="card-title">{{ exercice.name }}</h5>
              <p>
                <a
                  class="btn btn-primary"
                  data-toggle="collapse"
                  href="#{{ exercice.nameId }}"
                  role="button"
                  aria-expanded="false"
                  aria-controls="{{ exercice.nameId }}"
                >
                  Description
                </a>
              </p>
              <div class="collapse" id="{{ exercice.nameId }}">
                <div class="card card-body">
                  {{ exercice.description }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
