<div class="text" style="padding-top: 150px; padding-left: 50px">
  <div class="btn-group" style="padding-bottom: 25px">
    <div class="dropdown">
      <button
        class="btn btn-danger dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Select a body part
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a
          *ngFor="let category of categories"
          class="dropdown-item"
          (click)="getExercise(category.id, null)"
          >{{ category.name }}</a
        >
      </div>
    </div>
    <!-- <div style="padding-left: 8px">
      <button
        class="btn btn-warning dropdown-toggle"
        type="button"
        id="dropdownMenuButton2"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Select a muscle
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
        <a
          *ngFor="let muscle of muscles"
          class="dropdown-item"
          (click)="getExercise(null, muscle.id)"
          >{{ muscle.name }}</a
        >
      </div>
    </div> -->
  </div>
  <div class="container mx-auto" *ngIf="exercices">
    <div class="row">
      <div *ngFor="let exercice of exercices">
        <div class="col-4">
          <div class="card" style="margin-bottom: 35px; width: 18rem">
            <div class="card-body">
              
              <h5 class="card-title">{{ exercice.name }}</h5>
              <p>
                <a
                  class="btn btn-primary"
                  data-toggle="collapse"
                  href="#{{ exercice.nameId }}"
                  role="button"
                  aria-expanded="false"
                  aria-controls="{{ exercice.nameId }}"
                >
                  Description
                </a>
              </p> 
              
              <img class="card-img" [src]="exercice.imageUrl">
              <div class="collapse" id="{{ exercice.nameId }}">
                <div class="card card-body">
                 
                  {{ exercice.description }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
