
<div class="col">
    <div class="nav-item" href="#">
        <input type="image" class="btTxt submit" id='imageUp' [src] = imageUp (click)="upVoteClick(); isClickedUp = true" [disabled] = isClickedUp>
        <span class="badge bg-light">{{counterUp}}</span>
    </div>

    <div class="nav-item" href="#">
        <input type="image" class="png-icon d-inline-block align-middle" id='imageDown' [src]= imageDown (click)="downVoteClick(); isClickedDown = true" [disabled] = isClickedDown>
        <span class="badge bg-light">{{counterDown}}</span>
    </div>
</div>

