<div [formGroup]="form">
    <label for="post-content" class="textAreaLabel">Nouveau message</label>
    <div *ngIf="postContent.touched && postContent.invalid" class="alert alert-danger">
        <div *ngIf="postContent.errors.required">Votre message ne peut pas être vide.</div>
        <div *ngIf="postContent.errors.maxlength">Votre message ne peut pas contenir plus de {{ postContent.errors.maxlength.requiredLength }} caractères. </div>
    </div>
    <textarea
        autosize
        formControlName="postContent"
        cdkTextareaAutosize
        id="postContent"
        name="postContent"
        class="form-control"
        [(ngModel)]="content">
    </textarea>
    <div class="character-count" [ngClass]="content.length > characterLimit ? 'invalid' : ''">
        {{ content.length }}/{{ characterLimit }}
    </div>
</div>