

<h1 class="text-center">Présentation de quelques sports !</h1>
  

  <div class="container col-md-8">
    
    
        <div class="card-block">
            
                <div *ngFor="let image of imagesS ">
                    <div class="row">
                        <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img [src]="image.src" class="card-img-top d-block w-100">
                            <div class="card-body">
                            <h5 class="card-title">{{image.name}}</h5>
                            </div>
                        </div>
                    </div>
                        
                    <div class="col-md-8">
                        <div id="text" class="col align-self-end text-center font-weight-bold">
                            <p>{{image.description}}</p>
                        </div>  
                    </div>  
                    
                    </div>

                </div>
       
     
    </div>
</div>
 
  
  
  