

<!-- <div class="card" style="width: 18rem;">
    <img [src]="imagesS[0]" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">

      </h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> -->

  

  <div class="container col-md-8">
    <div class="col">
    
        <div class="card-block">
            
                <div *ngFor="let image of imagesS ">
                    <div class="row">
                        <div class="card" style="width: 18rem;">
                            <img [src]="image.src" class="card-img-top d-block w-100">
                            <div class="card-body">
                            <h5 class="card-title">{{image.name}}</h5>
                            </div>
                        </div>
                        
                        
                        <div id="text" class="col align-self-end text-center font-weight-bold">
                            <p>{{image.description}}</p>
                        </div>  
                    
                    </div>

                </div>
        </div>

        

       
            <div class="container col-md-4 offset-md-4 text-right" style="color: white;">
                <p>AAAAAAAAAAAAAAAAAAAAAAAAAh</p>
            </div>
       
     
    </div>
</div>
 
  
  
  