#profilePicture{
    height: 70px;
    width: 70px;
}

#comment{
    padding-top: 25px;
    padding-left: 300px;
}

#mic{
    height: 40px;
    width: 40px; 
}

#userName{
    padding-top: 20px;
    padding-left: 10px;
}

#icon{
    height: 40px;
    width: 40px;
}

#deleteDiv{
    padding-left: 400px;
    padding-top: 20px;
}

#profileName{
    padding-left: 100px;
    padding-bottom: 10px;
}

