<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between fixed-top"
>
  <a class="navbar-brand" routerLink="/welcome">
    <img src="../assets/logo.png" width="45" height="45" />
    VipSport</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/welcome"
          >Accueil<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/forum">Forum</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/sportspage">Sports</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/trainer">Entrainement</a>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/profile/{{authService.getCurrentUser()?.id}}">Profil</a>
      </li>
    </ul>
    
    <div [attr.value] = "notifications.length" [ngClass]="{'icone-hide' : !authService.loggedIn(),badge : notifications.length != 0}" class="icon" id="bell"><img id="bellImage"src="https://i.imgur.com/AC7dgLA.png" alt=""> </div>
    <div class="notifications" id="box">
        <h2>Notifications - <span>{{notifications.length}}</span></h2>
        <div *ngFor = "let notification of notifications" class="notifications-item" > <img [src]=notification.fromUser?.imageUrl alt="img">
            <div class="text" (click)="onNotificationClick(notification)">
                <h4 class = "profile-link" routerLink = "/profile/{{notification.fromUser?.id}}" >{{notification.fromUser?.userName}}</h4>
                <p [routerLink] = "'/posts/replies/'" [queryParams]= "{postId : notification.objectIdUrl.split('=')[1]}" class="notification-item-post-comment" *ngIf ="notification.type ==='PostComment'">{{notification.fromUser?.userName}} a commenté sur ton poste</p>
                <p routerLink = "{{notification.objectIdUrl}}" class="notification-item-post-follow" *ngIf ="notification.type ==='Follow'">{{notification.fromUser?.userName}} a commencé de vous suivre</p>
                <p routerLink = "{{notification.objectIdUrl}}" class="notification-item-post-reply" *ngIf ="notification.type ==='ThreadReply'">{{notification.fromUser?.userName}} a commenté sur votre thread </p>
            </div>
        </div>        
    </div>

    <div class="user-search-results" id="box-search">
      <h2>Résultats  - <span> {{userSearchResults.length}} </span></h2>
      <div (click)="clearSearshForm()" routerLink = "/profile/{{user.id}}" *ngFor= "let user of userSearchResults" class="user-search-results-item"> <img [src]="user.imageUrl" alt="img">
          <div  class="text">
              <h4 class = "profile-link" >{{user.userName}}</h4>
          </div>
      </div>        
  </div>


    <form [ngClass]="{'icone-hide':!authService.loggedIn()}"  class="form-inline my-2 my-lg-0" autocomplete="off">
      <input id="form-user-search" class="form-control mr-sm-2" type="search" placeholder="Recherchez utilisateur" aria-label="Search">
    </form>
    

    <button
      *ngIf="!authService.loggedIn()"
      type="button"
      class="btn btn-outline-success"
      routerLink="/signup"
      routerLinkActive="active"
      style="margin-right: 10px"
    >
      Inscription
    </button>
    <button
      *ngIf="!authService.loggedIn()"
      type="button"
      class="btn btn-outline-warning"
      routerLinkActive="active"
      routerLink="/login"
    >
      Connexion
    </button>
    <div
      *ngIf="authService.loggedIn()"
      class="nav-item"
      routerLinkActive="active"
    >
      <a class="nav-link" routerLink="/profile/{{authService.getCurrentUser()?.id}}">
        <img [src]="authService.getCurrentUser()?.imageUrl" class="profile-pic-sm rounded-circle z-depth-2" />
        {{authService.getCurrentUser()?.userName}}
      </a>
  </div>
    <button
      *ngIf="authService.loggedIn()"
      type="button"
      class="btn btn-outline-danger"
      (click)="logOut()"
    >
      Se déconnecter
    </button>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </div>
</nav> -->
