<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between fixed-top"
>
  <a class="navbar-brand" href="#">
    <img src="../assets/logo.png" width="45" height="45" />
    VipSport</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Macros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Profil</a>
      </li>
    </ul>
  </div>
  <button type="button" class="btn btn-outline-success">Inscription</button>
</nav>
