<div class="row" id="comment">
    <div>
        <img id='profilePicture' src="../assets/pp.png" class="profile-pic rounded-circle z-depth-2" data-holder-rendered="true"/>
    </div>
    <div class="col-5">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Give your opinion here" id="floatingTextarea2" style="height: 100px"></textarea>
        </div>
        <div class="col-md-auto" id="postButton">
            <button type="submit" class="btn btn-warning mb-3">Post Reply</button>
        </div>
    </div>
</div>

