<div class="row" id="comment">
    <div>
        <img id='profilePicture' [src] ="currentUser.imageUrl" class="profile-pic rounded-circle z-depth-2" data-holder-rendered="true"/>
    </div>
    <div class="col-5">
        <form name="replyForm">
            <textarea class="form-control" placeholder="Donne ton opinion ici." id="replyTextarea" style="height: 100px"></textarea>
        </form>
        <div class="col-md-auto" id="postButton">
            <button type="submit" class="btn btn-warning mb-3"  (click)="getText()" >Répondre</button>
        </div>
    </div>
</div>

