
<div class="col-9 offset-md-3" id="post">

    <div *ngIf ="posts.length > 0">
        <div *ngFor="let post of posts" let i = index; trackBy:index>

            
            
            <!-------Statut---------->

            <div style="padding-top: 100px;">
            <app-statut  [userPost] = "post"></app-statut>
           <!-- <input type="image" class="btTxt submit" id='delete' src = "./assets/Like_Dislike_Trash/delete.png"> -->
           <div style="padding-top: 10px;">
           <button type="button" (click)="deletePost(post)" class="btn btn-danger">Supprimer</button>
           </div>
                      
           

        </div>
        
        


        <!-------Commentaire form du post---------->
       <!-- <app-commentaire-form id="comment"></app-commentaire-form> -->
       

        </div>

        <div class="col" id="addPostButton">
            <div *ngIf="isLocked == true">
                <button type="button" id="addButton" class="btn btn-warning btn-lg" (click)="unlockForm()">Ajouter un post</button>
            </div>
        </div>

   </div> 

   <div *ngIf="posts.length == 0">
    <div class="col" id="addPostButton" style="padding-top: 150px;">
        <h2 style="color: white;">Personne n'a encore écrit. C'est votre chance !</h2>
        <button type="button" id="addButton2" class="btn btn-warning btn-lg" (click)="unlockForm()">Ajouter un post</button>
    </div>
   </div>

</div>



<!---------Ajout d'un post----------->

<div  class="col-md-9 offset-md-3" id="addStatut">
    <div *ngIf="isLocked == false">
        <div class="col-md-7">
            <div class="input-group mb-3">
                <div class="col-auto">
                    <div id="profilePicture">
                        <img id='profilePicture' [src] ="currentUser.imageUrl" class="profile-pic rounded-circle z-depth-2" data-holder-rendered="true"/>
                    </div>
                </div>
                <div class="col">
                    <form name="statutForm">
                    <div *ngIf="statutIsEmpty" class="alert alert-danger" role="alert">Vous ne pouvez pas poster un statut vide !</div>
                    <input class="form-control" name="statutTextarea" style="height: 100px">
                    </form>
                </div>
            </div>
        </div>

        <div id="addStatutButton">
            <button type="submit" class="btn btn-warning mb-3" (click)="postStatut()">Ajouter un status</button>
        </div>

    </div>
</div>












