

<div class="row" id="profileName">
    <img id='profilePicture' src="../assets/pp.png" class="profile-pic rounded-circle z-depth-2" data-holder-rendered="true"/>
    <a id="userName" style="color: white;" routerLink = "/profile">GigaChad</a>
</div>

<div class="row">
    <app-like-dislike id="likeDislike"></app-like-dislike>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                It is written; “Though training of iron and steel verily strengthens thy body and soul, neglect not thy push-ups, pull ups, and dips. 
                For how can thou raise up thy brothers and sisters if thou canst lift thyself?” - the Gospel of Massthew, 25:17. 
                Brothers and Swolesisters, though ye may call me an agent of Broki, I implore you hear my plea! For just as Wheysus was first cast out by his people, so too will his gospel be met with Iron-hardened hearts. 
                Our prayers in the iron temple are always heard, but home workouts and supplemental body weight exercises please the Allspotter as well - for he knows all, including the value of body weight strength.
            </div>
        </div>
    </div>
</div>




<!-------Commentaire---------->

<div class="row" id="comment">
    <div>
        <img id='profilePicture' src="../assets/pp.png" class="profile-pic rounded-circle z-depth-2" data-holder-rendered="true"/>
        <p style="color: white;">GigaChad</p>
    </div>
    <div class="col-5">
    <post-form></post-form>
    </div>
</div>


