#profilePicture{
    height: 70px;
    width: 70px;
}

#comment{
    padding-left: 300px;
}

#userName{
    padding-top: 20px;
    padding-left: 10px;
}

#profileName{
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 10px;
}

#post{
    padding-left: 30px;
}
