<div id="comment" *ngFor = "let comment of comments"  style="padding-top: 100px;">


    <app-statut [userReply] = "comment" [posts]="comments" [isPost]=false></app-statut>
    
   <!-- <div class="row">

        <div id="profilePicDiv">
            <img id='profilePic' [src]="" class="profile-pic rounded-circle z-depth-2" data-holder-rendered="true"/> 
        </div>
        

        <div *ngIf ="comment.ownerId == opOwnerId">

            <div id="deleteDiv">
            <input type="image" id='delete'  src ="./assets/Trash-Trophee/delete.png" (click)="deleteReply()" data-holder-rendered="true"/>  
            </div>

        </div> 


    </div>
    

    <div class="row">
        <app-like-dislike [subject]="comment" [commentId]="comment.id"></app-like-dislike>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {{comment.content}}
                </div>
            </div>
        </div>
    </div>
 -->

</div>