#comment{
   padding-left: 250px;
}

#OP{
    height: 50px;
    width: 50px;
    padding-top: 10px;
}

#delete{
    height: 40px;
    width: 40px;
}

#deleteDiv{
    padding-left: 600px;
}

#profilePic{
    height: 70px;
    width: 70px;
}

#profilePicDiv{
    padding-left: 100px;
    padding-bottom: 10px;
}
